@using System
@{

    ViewBag.Title = "Page Not Found";
}

<br />
<br />
<br />
<br />
<br />
<br />
    <div class="container text-center">

        <h1>Nie znaleziono strony</h1>

        <h6>@Html.ActionLink("Wróć do strony głównej", "Index", "Home")</h6>

    </div>
