@model IEnumerable<Eventor2.Models.TicketModels>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<h2>Moje bilety</h2>

<div class="container">
<table class="table table-striped" style="border: 2px solid grey">
    <tr style="border-bottom: 2px solid grey">
        <th>
            @*@Html.DisplayNameFor(model => model.Type)*@
            Typ Biletu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Cena
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.UserEmail == @Session["LoggedInEmail"].ToString())
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

</tr>
        }
    }

</table>
</div>