@model IEnumerable<Eventor2.Models.TicketModels>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<h2>Moje bilety</h2>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Type)*@
            Typ Biletu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Cena
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.UserEmail == @Session["LoggedInEmail"].ToString())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

            </tr>
        }
    }

</table>
