@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="card-deck" style="margin: 5%">
    <div class="card">
        <div class="card-header">BILET ZWYKŁY</div>
        <div class="card-body">
            <div align="left">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wstęp na główną scenę</li>
                    <li class="list-group-item">Wstęp na teren targów</li>
                    <li class="list-group-item">Zaproszenie na After Party</li>
                </ul>
            </div>

        </div>
            <div class="d-flex card-footer">
                        <input type="text" class="form-control mr-1" placeholder="Wpisz liczbę biletów">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Rezerwuj</button>
                        </div>
            </div>
    </div>
    <div class="card">
        <div class="card-header">BILET PRO <span class="badge badge-danger">HOT</span></div>
        <div class="card-body">
            <div align="left">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Wszystkie benefity z biletu zwykłego</b></li>
                    <li class="list-group-item">Wstęp na boczne sceny</li>
                    <li class="list-group-item">Dostęp do materiałów prasowych</li>
                    <li class="list-group-item">Zaproszenie na Networking</li>
                </ul>
            </div>

        </div>
                <div class="d-flex card-footer">
                    <input type="text" class="form-control mr-1" placeholder="Wpisz liczbę biletów">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Rezerwuj</button>
                    </div>
                </div>
    </div>
    <div class="card">
        <div class="card-header">BILET VIP</div>
        <div class="card-body">
            <div align="left">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Wszystkie benefity z biletu pro</b></li>
                    <li class="list-group-item">Dostęp do bocznego wejścia</li>
                    <li class="list-group-item">Wstęp do strefy VIP</li>
                    <li class="list-group-item">Dostęp do nagrań ze wszystkich konferencji</li>
                </ul>
            </div>
        </div>

        <div class="d-flex card-footer">
                <input type="text" class="form-control mr-1" placeholder="Wpisz liczbę biletów">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Rezerwuj</button>
                </div>
        </div>
    </div>

</div>
