@{
    ViewBag.Title = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Eventor</h1>
            <h2 class="masthead-subheading mb-0">Enjoy events with us</h2>
            <div class="btn btn-primary btn-xl rounded-pill mt-5" onclick="location.href='@Url.Action("BuyTicket", "TicketModels")'">Zarezerwuj bilety</div>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/03.jpg" alt="" style="border: 2px solid black">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Kup bilet dziś!</h2>
                    <p>Do wyboru masz trzy rodzaje biletów - bilet BASIC, bilet PRO oraz bilet VIP. Bilety różnią się od siebie zawartością, a także ceną. Każdy zakup zapisywany jest w bazie danych.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/02.jpg" alt="" style="border: 2px solid black">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Kup tyle, ile chcesz!</h2>
                    <p>Przy zakupie biletów możesz wybrać ich liczbę. Za zapis każdego z osobna w takiej liczbie, jaka została zamówiona, odpowiada pętla. Dzięki temu rozwiązaniu każdy bilet ma unikalne ID i łatwo go zlokalizować.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/01.png" alt="" style="border: 2px solid black">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Kup po zalogowaniu!</h2>
                    <p>Bilety zakupić możesz dopiero po zarejestrowaniu i zalogowaniu się. Kiedy nie jesteś zalogowany, button odpowiedzialny za zakup biletu przekieruje Cię do procesu logowania. Jeśli jesteś zalogowany - przekieruje Ciebie na stronę do zamawiania biletów.</p>
                </div>
            </div>
        </div>
    </div>
</section>